html{
  font-size: 16px;
  background-color: white;
  margin-bottom: 20px;
}

header {
  background-color: white;
  height: 150px;
  top: 0px;
  text-align: center;
  position: fixed;
  padding: 10px;
  width: 100%;
}

#logo {
    display: inline-block;
    position: relative;
}

nav {
  background-color: white;
  border: 15px;
  padding: 5px;
  display: inline-block;
  position: relative;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

a{
  color: #000000;
  font-size: .75em;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited { /* visited link */
  background: #5C6A60;
}
a:hover,
a:focus {
    background-color: #5C6A60;
    opacity: 0.75;
    color: white;
    font-weight: 500;
}

a:active {  /* selected link */
    background: #5C6A60;
    color: white;
    opacity: 0.75;
}

.profile {
  width: auto;
  margin: 20px;
}

.hero {
    background-color: white;
    margin-top:  200px;
    padding: 15px;
    border: 15px;
    text-align: center;
}

.hi {
    background-color: white;
    margin: 250px 25px 100px 25px;
    padding: 15px;
    border: 15px;
}

.my-work {
  text-align: center;
  padding: 5px;
  margin: 10px 30px 10px 30px;
}

#inktankdisplay {
  padding: 10px;
  margin: 150px 5px 5px 5px;
  text-align: center;
}

.process {
  padding: 10px;
  margin: 15px;
  text-align: center;
}

.section-break {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 2.5em;
  background-color: #5C6A60;
  padding: 10px;
  border: 10px;
  margin: 25px 0;
}

.pdflink {
  text-align: center;
}

ul {
  list-style-type: none;
  line-height: 1.6;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

h3 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

h4 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.6;
  text-align: center;
}

p {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-size-adjust:none;
  line-height: 1.6;
  text-align: center;
}

span {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-size-adjust:none;
  line-height: 1.6;
  text-align: center;
}

li {
    font-family: "futura-pt", sans-serif;
    font-size: 1em;
    font-weight: lighter;
    font-size-adjust:none;
  }


footer {
 font-family:  "futura-pt", sans-serif;
 font-size: 1em;
 font-weight: lighter;
 font-size-adjust:none;
 text-align: left;
 padding: 20px;
}

img {
  width: 100%;
}
.title-banner {
    background-color: #5C6A60;
    color: white;
    text-align: center;
    margin-top:  200px;
    margin-bottom: 50px;
    padding: 25px;
}

.about {
   text-align: center;
   margin-top:  200px;
   padding: 15px;
   border: 5px;
}

.quote {
     background-color: white;
     text-align: center;
     margin:  5px 15px;
     padding: 15px;
     border: 5px;
}
.my-story {
  background-color: white;
  margin:  5px 15px;
  padding: 15px;
  border: 5px;
}

.skills ul {
  margin: 5px 0;
  padding: 0 40px;
}

.button-resume {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #5D506B;
  color:  #5C6A60;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  }

.button {
  align-items: center;
  background-color: #5D506B; /* PURPLE */
  border: none;
  border-radius: 8px;
  color: white;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  opacity: 75%;
}

.button:hover {
  opacity: 0.5;
  text-decoration: none;
}
.button-contact {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #5D506B;
    color: #5D506B !important;
    font-family: "futura-pt", sans-serif;
    font-size: 1em;
    margin: 5px 0;
    text-transform: uppercase;
}

.button-contact:hover {
  background-color: #5D506B;
  color: #ffffff;
}

.social {
  text-align: center;
  margin: 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    height: 100px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding-right: 25px;
  }

#hero span {
   display: block;
  }

.col-md-6 {
    width: 50%;
  }
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  padding-left: 40px;
}

.nav {
  padding-right: 25px;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
