html{
  font-size: 16px;
  background-color: white;
  margin-bottom: 20px;
}

header {
  background-color: white;
  height: 150px;
  top: 0px;
  text-align: center;
  position: fixed;
  padding: 15px;
  border: 10px;
  width: 100%;
}

#logo {
    display: inline-block;
    position: relative;
    padding: 5px;
}

nav {
  background-color: white;
  border: 15px;
  padding: 5px;
  display: inline-block;
  position: relative;
  text-align: center;

}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

a{
  color: #000000;
  font-size: .75em;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited { /* visited link */
  background: #5C6A60;
}
a:hover,
a:focus {
    background-color: #5C6A60;
    opacity: 0.75;
    color: white;
    font-weight: 500;
}

a:active {  /* selected link */
    background: #5C6A60;
    color: white;
    opacity: 0.75;
}

.hero {
    margin-top: 175px;
    padding: 15px;
    border: 15px;
    text-align: center;
}

#profile {
  text-align: center;
}

#intro {
    margin: 25px;
    padding: 15px;
    border: 15px;
    text-align: center;
}

.container {
  margin-top: 20px;
}

#my-work {
  text-align: center;
  padding: 5px;
  margin: 10px 30px 10px 30px;
}

#inktankdisplay {
  padding: 10px;
  margin: 150px 5px 5px 5px;
  text-align: center;
}

#skills {
  text-align: center;
  padding-left: 20px;
}

.row {
  padding: 10px;
  margin: 15px;
  text-align: center;
}

.section-break {
  color: white;
  background-color: #5C6A60;
  padding: 10px;
  border: 10px;
  margin-top: 100px;
  margin-bottom: 25px;
}

.pdflink {
  text-align: center;
}

ul {
  list-style-type: none;
  line-height: 1.6;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

h3 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

h4 {
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.6;
  text-align: center;
}

p {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-size-adjust:none;
  line-height: 1.6;
  text-align: center;
}

span {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-size-adjust:none;
  line-height: 1.6;
  text-align: center;
}

li {
    font-family: "futura-pt", sans-serif;
    font-size: 1em;
    font-weight: lighter;
    font-size-adjust:none;
}

footer {
 font-family:  "futura-pt", sans-serif;
 font-size: 1em;
 font-weight: lighter;
 font-size-adjust:none;
 text-align: center;
 padding: 20px;
}

img {
  width: 100%;
}

#title-banner {
    background-color: #5C6A60;
    color: white;
    text-align: center;
    margin-top:  200px;
    margin-bottom: 50px;
    padding: 25px;
}

.about {
   text-align: center;
   margin-top:  200px;
   padding: 15px;
   border: 5px;
}

.quote {
     background-color: white;
     text-align: center;
     margin:  5px 15px;
     padding: 15px;
     border: 5px;
}

.my-story {
  background-color: white;
  margin:  5px 15px;
  padding: 15px;
  border: 5px;
  text-align: center;
}

#resume {
  text-align: center;
}

#skills-ul {
  margin: 5px;
  padding: 40px;
  text-align: left;
}

#tools-ul {
  margin: 5px;
  padding: 40px;
  text-align: left;
}

.button {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border-bottom: 2px solid #5C6A60;
  color:  white !important;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  transition-duration: 0.2s opacity;
  }

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button-contact {
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #5D506B;
    color: #5D506B !important;
    font-family: "futura-pt", sans-serif;
    font-size: 1em;
    margin: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid #5C6A60;
    transition-duration: 0.2s opacity;
}

.button-contact:hover {
    background-color: #5D506B;
    color: white !important;
    border-radius: 8px;
  }

.social {
  text-align: center;
  padding: 10px;
  margin: 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    text-align: unset;
    padding: 20px;
    height: 100px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding-right: 25px;
  }

#hero span {
   display: block;
  }


#intro {
  width: 40%;
  float: right;
}

.col-md-6 {
    width: 45%;
  }

.col-md-8 {
    width: 45%;
}

[class*="col-"] {
  float: left;
  padding: 20px 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  padding-left: 40px;
}

.nav {
  padding-right: 25px;
}

.section-break {
  margin: 200px 0px  25px 0px;
}


    /* ==============================
    Large devices (1024px or larger)
    ================================= */
@media only screen and (min-width: 1024px) {


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: unset;
  padding: 20px;
  height: 80px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
  padding-right: 50px;
}

#hero span {
 display: block;
}

#profile {
  mAX-width: 40%;
  float: left;
}

#intro {
  width: 50%;
  float: right;
}

.col-lg-8 {
    width: 25%;
    margin-left: 50px;
}

.col-lg-7 {
  width: 40%;
}

.col-lg-5 {
  width: 40%;
  margin-top: 40px;
  margin-left: 20px;
}

[class*="col-"] {
float: left;
padding: 10px;
}
.row::after {
content: "";
clear: both;
display: table;
}

.section-break {
  margin: 600px 0px  25px 0px;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
